runtime: nodejs20

env_variables:
  NEXT_PUBLIC_MAPBOX_TOKEN: ""
  NEXT_PUBLIC_API_URL: ""
  NEXT_PUBLIC_TRADING_WAITLIST_URL: ""
  NEXT_PUBLIC_AIRSPACE_CLAIM_URL: ""
  NEXT_PUBLIC_WEBSITE_URL: ""
  NEXT_PUBLIC_MAPBOX_API_URL: ""
